body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

/* <---------------------------SEARCH BAR---------------------------> */
.search-bar {
    border-radius: 20px;
    border: 1px solid #031920;
    box-shadow: 2px 2px 5px #032b32;
    height: 40px;
    width: 40vw;
}
/* <---------------------------DATE BAR---------------------------> */
.search-number {
    border-radius: 20px;
    border: 1px solid #031920;
    box-shadow: 2px 2px 5px #032b32;
    height: 40px;
    width: 100%;
}

/* <---------------------------SEARCH BUTTON---------------------------> */
.search-button {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: white;
    border-radius: 50px;
    border: 1px solid #031920;
    background-image: linear-gradient(to right top, #6c5d8b, #62709e, #5a83aa, #5995b1, #63a5b4, #56b3ba, #4dc0bb, #51cdb5, #2ddba9, #1be794, #39f275, #61fb47);
    transition: 0.5s;
    box-shadow: 2px 2px 5px #032b32;
}

.search-button:hover {
    cursor: pointer;
    transition: .5s;
    transform: center;
    background-size: 100%;
    text-decoration: none;
    scale: 1.1;
}

/* <---------------------------BOOK BUTTON---------------------------> */
.book-button {
    padding-right: 7px;
    padding-left: 7px;
    padding-top: 1px;
    padding-bottom: 1px;
    color: white;
    border-radius: 50px;
    border: none;
    background-image: linear-gradient(to right top, #6c5d8b, #62709e, #5a83aa, #5995b1, #63a5b4, #56b3ba, #4dc0bb, #51cdb5, #2ddba9, #1be794, #39f275, #61fb47);
    transition: 0.5s;
    box-shadow: 2px 2px 5px #032b32;
    ;
}

.book-button:hover {
    cursor: pointer;
    transition: .5s;
    transform: center;
    background-size: 100%;
    text-decoration: none;
    scale: 1.1;
}

.nav-button {
    width: 160px;
    border-radius: 50px;
    border-top: solid 1px #031920;
    border-left: solid 1px #031920;
    border-bottom: solid 3px #031920;
    border-right: solid 3px #031920;
    background-color: #b7e2f7,;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 2px 2px 5px #032b32;
    display: block;
}

.nav-button:hover {
    cursor: pointer;
    transition: .5s;
    transform: center;
    background-size: 100%;
    text-decoration: none;
    scale: 1.1;
    background-position: right center;
}

/* <---------------------------DROP DOWN MENU STYLES---------------------------> */
.container {
    position: absolute;
}

.click {
    position: absolute;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
    width: 45px;
    height: 45px;
}

.click:checked~.div1 {
    border: 1px solid #031920;
    transition: 0.5s;
    transform: rotate(-45deg);
    /* Rotate div on checked*/
    top: 18px;
    /*Positions the X shape to be directly on top of the check box*/
    background-image: linear-gradient(to right top, #031920 #6c5d8b, #62709e, #5a83aa, #5995b1, #63a5b4, #56b3ba, #4dc0bb, #51cdb5, #2ddba9, #1be794, #39f275, #61fb47);
}

.click:checked~.div2 {
    transition: 0s;
    opacity: 0;
    /* Turn invisible*/
}

.click:checked~.div3 {
    border: 1px solid #031920;
    transition: 0.5s;
    transform: rotate(45deg);
    /* Rotate div on checked*/
    top: 18px;
    /*Positions the X shape to be directly on top of the check box*/
    background-image: linear-gradient(to right top, #031920, #6c5d8b, #62709e, #5a83aa, #5995b1, #63a5b4, #56b3ba, #4dc0bb, #51cdb5, #2ddba9, #1be794, #39f275, #61fb47, #031920);
    /* Changes color to ornage on checked*/
}

/* Lines for div */
.div1 {
    border: 1px solid #031920;
    background-image: linear-gradient(to right top, #031920, #6c5d8b, #62709e, #5a83aa, #5995b1, #63a5b4, #56b3ba, #4dc0bb, #51cdb5, #2ddba9, #1be794, #39f275, #61fb47, #031920);
    position: absolute;
    width: 45px;
    height: 5px;
    top: 3px;
    transition: 0.5s;
    border-radius: 50px;
}

.div2 {
    border: 1px solid #031920;
    background-image: linear-gradient(to right top, #031920, #6c5d8b, #62709e, #5a83aa, #5995b1, #63a5b4, #56b3ba, #4dc0bb, #51cdb5, #2ddba9, #1be794, #39f275, #61fb47, #031920);
    position: absolute;
    width: 45px;
    height: 5px;
    top: 19px;
    transition: 0.5s;
    border-radius: 50px;
}

.div3 {
    border: 1px solid #031920;
    background-image: linear-gradient(to right top, #031920, #6c5d8b, #62709e, #5a83aa, #5995b1, #63a5b4, #56b3ba, #4dc0bb, #51cdb5, #2ddba9, #1be794, #39f275, #61fb47, #031920);
    position: absolute;
    width: 45px;
    height: 5px;
    top: 35px;
    transition: 0.5s;
    border-radius: 50px;
}

/* <---------------------------SINGLE BOOK PAGE IMAGE---------------------------> */
.single-book-img {
    margin-left: 60%;
    position: absolute;
    top: 10%;
    transform: translateY(10%);
    z-index: 2,
}

/* <---------------------------DOWNLOAD BOX---------------------------> */
.downloads {
    padding: 5px;
    border-radius: 5px;
    width: 15%;
    margin: 30px;
    color: #E9E8E8;
    background-color: #F5FAFC;
    background-size: 400%;
    transition: 0.5s;
    color: #0a0600;
    box-shadow: 3px 3px 3px #1b1701;
}

/* <---------------------------BOOK DETAIL BUTTON---------------------------> */
.book-detail {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid;
}

.book-detail-button {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 1px;
    padding-bottom: 7px;
    color: white;
    border: 1px solid #031920;
    border-radius: 100px;
    background-image: linear-gradient(to right top, #6c5d8b, #62709e, #5a83aa, #5995b1, #63a5b4, #56b3ba, #4dc0bb, #51cdb5, #2ddba9, #1be794, #39f275, #61fb47);
    transition: 0.5s;
    box-shadow: 2px 2px 5px #032b32;
}

.book-detail-button:hover {
    cursor: pointer;
    transition: .5s;
    transform: center;
    background-size: 100%;
    text-decoration: none;
    scale: 1.05;
    background-position: right center;
}
/* <---------------------------SORT BUTTON---------------------------> */
.sort-button {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 10px;
    padding-bottom: 7px;
    color: #031920;
    border: 1px solid #031920;
    border-radius: 10px;
    background-image: linear-gradient(to right top, #92c2d8, #9ecdd7, #8fd0d5, #8fd6d3, #b9f4e8, #abfce5, #9fffd9, #b8fece, #c5f8bc);
    transition: 0.5s;
    box-shadow: 2px 2px 5px #032b32;
}

.sort-button:hover {
    cursor: pointer;
    transition: .5s;
    transform: center;
    background-size: 100%;
    text-decoration: none;
    scale: 1.05;
    background-position: right center;
}
/* <---------------------------CLEAR BUTTON---------------------------> */
.clear-button {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 10px;
    padding-bottom: 7px;
    color: #031920;
    border: 1px solid #031920;
    border-radius: 10px;
    background-image: linear-gradient(to right top, #f19bba, #f58dad, #f9809d, #fb718c, #fc6379, #ff606b, #ff5e5d, #ff5e4d, #ff6b40, #ff7931, #ff8720, #ff9600);
    transition: 0.5s;
    box-shadow: 2px 2px 5px #032b32;
}

.clear-button:hover {
    cursor: pointer;
    transition: .5s;
    transform: center;
    background-size: 100%;
    text-decoration: none;
    scale: 1.05;
    background-position: right center;
}
/* <---------------------------SUBJECT BUTTON---------------------------> */
.subject-button {
    margin: 10px;
    padding: 10px;
    width: 100%;
    background-color: #F5FAFC;
    border: 2px solid #114762;
    border-radius: 10px;
}

.subject-button:hover {
    cursor: pointer;
    transition: .5s;
    transform: center;
    background-size: 100%;
    text-decoration: none;
    scale: 1.025;
    background-position: right center;
}